.btn {
  margin: 5px;
  padding: 6px 18px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  background-color: rgb(224, 183, 207);
  border-color: rgb(224, 183, 207);
  border-radius: 30%;
}
